<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand ml-5 mr-5" href="/" id="logo">DSE00</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/resources">資源區</a>
                <a href="http://dse00.blogspot.com/p/core-cutoff.html" target="_blank">2021 Cut-off</a>
                <a href="http://dse00.blogspot.com/search/label/Tips" target="_blank">Tips</a>
                <a href="/new" target="_blank">新 POST</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if (currentUser && currentUser.identity === 'admin') { %>
                    <span id="darkmode">🌤️</span>
                    <% } %>

                        <% if(!currentUser) {%>
                            <a href="/users/login">登入</a>
                            <a href="/users/register">注冊</a>
                            <% } else {%>
                                <a href="/users/dse00coin">
                            🪙 <b><%=currentUser.coin  %></b>
                       </a>
                                <a href="#">
                            Lv. <%=currentUser.grade  %>
                        </a>
                                <% if (currentUser.identity==='admin') { %>
                                    <a href="/users/user/<%=currentUser._id  %> " style="background-color:rgb(116, 184, 116); padding:3px 10px; border-radius: 5px;">
                                        <%= currentUser.username.toUpperCase() %>
                                    </a>
                                    <% }else{ %>
                                        <a href="/user/<%=currentUser._id  %> ">
                                            <%= currentUser.username.toUpperCase() %>
                                        </a>
                                        <% } %>
                                            <a href="/users//logout">登出</a>
                                            <% } %>
            </div>
        </div>
    </div>
</nav>