 <% layout('layouts/boilerplate')%>
    <div class="index-loop">
        <h1 class="text-center">編輯 POST</h1>
        <div>
            <form action="/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="category">類別</label>
                    <select class="form-select" style="width:100px" selected="功課" name="campground[category]" id="category">
                        <option value="吹水">吹水</option>
                        <option value="DSE" <%= campground.category === 'DSE' ? 'selected' : ''%>> DSE</option>
                        <option value="消息" <%= campground.category === '消息' ? 'selected' : ''%>>消息</option>
                        <option value="大學" <%= campground.category === '大學' ? 'selected' : ''%>>大學</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">標題</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">內容</label>
                    <textarea class="form-control" type="text" style="height:150px;" id="description" name="campground[description]" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">加入更多圖片...</span>
                        <span class="form-file-button">打開</span>
                    </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {  %>

                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">確認更新</button>
                </div>
            </form>
            <a class="btn" href="/<%= campground._id%>">返回</a>

        </div>
    </div>