<% layout('layouts/boilerplate')%>
    <div class="post-body">
        <h1 class="text-center">編輯 POST</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">標題</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">內容</label>
                    <textarea class="form-control" type="text" style="height:150px;" id="description" name="campground[description]" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">加入更多圖片...</span>
                        <span class="form-file-button">打開</span>
                    </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {  %>

                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">確認更新</button>
                </div>
            </form>
            <a class="btn" href="/campgrounds/<%= campground._id%>">返回</a>

        </div>
    </div>