<% layout('layouts/boilerplate')%>

    <style>
        .navbar {
            display: none !important;
        }



        .chat {
            color: rgb(151, 199, 226);
            padding: 3px 0 0 5px;
            border-radius: 30%;
            background-color: rgba(201, 228, 255, 0.3);
            width: 40px;
            font-size: 12px;

        }

        .user-info {
            bottom: 10px;
            padding-right: 0;

        }

        .user-info:hover {
            opacity: 1;
        }


        .index-loop {
            padding: 0;
        }

        body {
            padding: 0;
        }

        .post-title2 {
            font-size: 14px;
            margin: 5px 15px 15px 0px;
            color: #666;
            font-weight: normal;
        }

        .night-text {
            font-size: 14px;
            color: #bbb;
        }

        .card {
            background-color: transparent;
        }

        .card {
            border: none;
            border-bottom: #ddd solid 1px;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
            border-radius: 2px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .move {
            transition-duration: 0.3s;
        }

        .move:hover {
            background-color: #ddd;
        }

        .move:active {
            background-color: #ddd;
        }
    </style>
    <div class="inner-container">


        <div class='index-loop'>

            <a class="btn dse00btn" id="newpost" href="/new">新 POST</a>
            <% for (let i=0 ; i<campgrounds.length ; i++){%>
                <div class="card mb-1">
                    <div class="move">
                        <a href="/iframe/<%=campgrounds[i]._id  %> ">
                            <div>
                                <div>
                                    <div style="color:#bbb; position: absolute; right:0">
                                        <% const r=campgrounds[i].reviews.length-1 %>
                                            <div class="chatbox">
                                                <div class="chat"><i class="fa-solid fa-comment"></i>
                                                    <%= r+1 %>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="post-title2">
                                        <p style="font-size:14px; font-weight:500; color:#be0000 ; margin-bottom: 4px;">
                                            <%= campgrounds[i].author.username.toUpperCase()%>
                                        </p>
                                        <%= campgrounds[i].title.substring(0,40) %>
                                            <% if (campgrounds[i].reviews[0]) { %>
                                                <div class="night-text">➥
                                                    <%= campgrounds[i].reviews[r].body.substring(0,50) %>
                                                </div>
                                                <% } %>
                                    </div>


                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <% }%>
        </div>

        <div class="user-info">
            <div>
                <form action="/iframe" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>

                        <div class="d-flex">
                            <textarea class="form-control mr-1" style="height:60px;border-radius: 2rem;" type="text"
                                id="title" name="campground[title]" required></textarea>
                            <button class="btn dse00btn disappear-button" id="sendbtn"
                                style="background-color: #cc0000; border-radius: 50%; opacity: 1; padding: 4px 12px;"><i
                                    class="fa-solid fa-paper-plane" style="color: white;"></i></button>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                    </div>
                    <div style="opacity: 0; position: absolute; top:0">
                        <textarea type="text" style="height:25px;color:#bbb" id="description"
                            name="campground[description]">如題</textarea>
                    </div>

                </form>
            </div>
        </div>




    </div>