<% layout('layouts/boilerplate')%>
    <div id="yylamdiv"></div>
    <style>
        .card {
            background-color: transparent;
            border: none;
            border-bottom: #ddd solid 1px;
            transition-duration: 0.5s;
        }

        .card:hover {
            background-color: rgb(245, 245, 245);
        }

        .card:active {
            background-color: #eee;
        }
    </style>
    <div class="inner-container">

        <div class="user-info">
            <div class="userbar" id="userbar">
                <% if(!currentUser) {%>
                    <b><a href="/users/login" target="_blank">
                            <span class="level" style="margin:0 5px">login</span>｜<span id="level"
                                style="margin:0 10px">Lv.<span class="level">-</span></span>｜
                            <span> 🪙 × <span class="level">-</span> </span></a></b>

                    <% } %>
                        <% if(currentUser) {%>

                            <div class="user-menu">
                                <div>
                                    <a href="/users/user/<%= currentUser._id %> ">
                                        <%= currentUser.username.toUpperCase() %>
                                    </a>｜
                                </div>
                                <div class="level">Lv.
                                    <% if(currentUser) {%>
                                        <%= currentUser.grade %>
                                            <% } %>
                                </div>

                                <div>｜
                                    <a href="/users/dse00coin">🪙×
                                        <% if(currentUser) {%>
                                            <%= currentUser.coin %>
                                                <% } %>
                                    </a>
                                </div>
                            </div>
                            <% } %>


            </div><br>


            <div>
                <form action="/" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label" for="title"><b>QUICK TALK</b></label>
                        <textarea style="height:60px;" class="form-control" type="text" id="title"
                            name="campground[title]" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <button class="btn dse00btn" id="sendbtn">送出</button>
                    </div>
                    <div style="opacity: 0; position: absolute; top:0">
                        <textarea type="text" style="height:25px;color:#bbb" id="description"
                            name="campground[description]">如題</textarea>
                    </div>
                </form>
            </div>
            <div id="adsense" class="hide-mobile mt-5 pt-5">
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6622218753379872"
                    crossorigin="anonymous"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
                    data-ad-layout-key="-6j+ed+2i-1n-4w" data-ad-client="ca-pub-6622218753379872"
                    data-ad-slot="9254711323"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <div class='index-loop order-two'>
            <a class="btn dse00btn" id="newpost" href="/new">新 POST</a>


            <% for (let i=0 ; i<campgrounds.length ; i++){%>
                <% if (i%6===0 && i!==0) { %>
                    <div class="card  adsense">
                        <script async
                            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6622218753379872"
                            crossorigin="anonymous"></script>
                        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
                            data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-6622218753379872"
                            data-ad-slot="8821319250"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <% } %>
                        <div class="card pb-2">
                            <div>
                                <a href="/<%=campgrounds[i]._id%>">
                                    <div>
                                        <div class="card-body" style="padding-bottom: 10px;">

                                            <h6 class="post-title">
                                                <% if (campgrounds[i].category !=='吹水' ) { %>
                                                    <span class="category">
                                                        <%= campgrounds[i].category %>
                                                    </span>
                                                    <% } %>
                                                        <%= campgrounds[i].title.substring(0,40) %> <small
                                                                class="text-muted"
                                                                style="font-size:14px; font-weight:200"> - <%=
                                                                    campgrounds[i].author.username%></small>

                                            </h6>
                                            <!-- <span style="font-size:14px; font-weight:300; color:#999"><%= campgrounds[i].description.substring(0,40) %> </span> -->
                                            </h6>
                                            <span
                                                style="position: absolute; top:5px ; right:10px; font-size:13px;color:#bbb">
                                                <% const r=campgrounds[i].reviews.length-1 %>
                                                    <%= r+1 %><span style="font-size:10px"> 💬</span>
                                            </span>
                                            <span class="description">
                                                <% if (campgrounds[i].reviews[0]) { %>

                                                    <% if (campgrounds[i].reviews[r].reply[0]) { %>
                                                        ➥
                                                        <%=campgrounds[i].reviews[r].reply[campgrounds[i].reviews[r].reply.length-1].substring(0,40)
                                                            %>
                                                            <% }else{ %>
                                                                ➥ <%=campgrounds[i].reviews[r].body.substring(0,40) %>
                                                                    <% } %>
                                                                        <% } else if(campgrounds[i].description !=='如題'
                                                                            ){ %>
                                                                            ↪
                                                                            <%=campgrounds[i].description.substring(0,60)
                                                                                %>
                                                                                <% } %>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }%>
                            <a class="btn dse00btn" href="/?page=2">下頁</a>
        </div>

        <div class="category-list">
            <h4>我要傾</h4>
            <a href="/"><span class="category-list-icon">💦</span> 吹水</a>
            <a href="/search?category=DSE"><span class="category-list-icon">📚</span> DSE</a>
            <a href="/search?category=大學"><span class="category-list-icon">🏫 </span> 大學</a>
            <a href="/search?category=消息"><span class="category-list-icon">📜</span> 消息</a>

        </div>

    </div>
    <script src="/javascripts/yylam.js"></script>