<% layout('layouts/boilerplate')%>
    <div id="yylamdiv"></div>
    <style>
        .card {
            background-color: transparent;
            border-radius: 3rem;
            border: none;
            transition-duration: 0.5s;
            margin: 12px 0;
        }

        .card:hover {
            background-color: rgb(245, 245, 245);
        }

        .card:active {
            background-color: #eee;
        }

        td {
            width: 17px;
        }

        td .icon-td {
            width: 100px;
        }

        .chat {
            color: rgb(130, 192, 227);
            padding: 3px 0 0 8px;
            border-radius: 3rem;
            background-color: rgba(201, 228, 255, 0.3);
            width: 48px;

        }

        .heart {
            color: rgb(250, 154, 154);
            padding: 3px 0 0 8px;
            border-radius: 3rem;
            background-color: rgba(252, 201, 201, 0.3);
            width: 44px;
            margin: 5px 10px;

        }
    </style>

    <div id="left-bar">
        <div class="category-list">
            <a href="/">
                <span class="category-list-icon">
                    <i class="fa-regular fa-comment-dots" style="color:#cd4e4e;"></i>
                </span>中學
            </a>

            <a href="/search?category=DSE"><span class="category-list-icon"><i class="fa-regular fa-comment"
                        style="color:#cd4e4e;"></i></span>
                DSE</a>
            <a href="/search?category=大學"><span class="category-list-icon"><i class="fa-regular fa-comment"
                        style="color:#cd4e4e;"></i> </span>
                大學</a>
            <a href="/search?category=消息"><span class="category-list-icon"><i class="fa-regular fa-comment"
                        style="color:#cd4e4e;"></i></span>
                消息</a>

        </div>

        <div id="friends-list"></div>

    </div>
    <div class="inner-container">


        <div class='index-loop wrapper sticky'>


            <a class="btn dse00btn2 disappear-button" id="newpost" href="/new"
                style="font-size: 18px; padding: 8px 14px; border-radius: 3rem;">新
                POST</a>
            <div id="skeleton-screen"></div>
            <div id="posts-body">
            </div>
            <div style="display:flex; justify-content: center;"><img src="/files/gear.svg" /></div>


        </div>


        <div class="user-info wrapper">

            <div id="userbar">
                <% if(!currentUser) {%>
                    <b><a href="/users/login" target="_blank">
                            <div class="user-menu">
                                <span class="level" style="margin:0 5px">login</span>｜
                                <span id="level" style="margin:0 10px">Lv.<span class="level">-</span></span>｜
                                <span> <i class="fa-solid fa-coins"></i> <span class="level">-</span> </span>
                            </div>
                        </a>
                    </b>
                    <% } %>
                        <% if(currentUser) {%>

                            <div class="user-menu">
                                <div>
                                    <a href="/users/user/<%= currentUser._id %> ">
                                        <%= currentUser.username.toUpperCase() %>
                                    </a>
                                </div>｜
                                <div class="level">Lv.
                                    <% if(currentUser) {%>
                                        <%= currentUser.grade %>
                                            <% } %>
                                </div>｜

                                <div>
                                    <a href="/users/dse00coin"> <i class="fa-solid fa-coins"></i>
                                        <% if(currentUser) {%>
                                            <%= currentUser.coin %>
                                                <% } %>
                                    </a>
                                </div>
                            </div>
                            <% } %>
            </div><br>

            <div>
                <form action="/" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label text-secondary" for="title"><b>CHAT</b></label>
                        <div class="d-flex">
                            <textarea style="height:60px; border-radius: 2rem;" class="form-control mr-3" type="text"
                                id="title" name="campground[title]" required></textarea>
                            <button class="btn dse00btn disappear-button" id="sendbtn"
                                style="background-color: #cc0000; border-radius: 50%; opacity: 1; padding: 4px 12px;"><i
                                    class="fa-solid fa-paper-plane" style="color: white;"></i></button>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                    </div>
                    <div style="opacity: 0; position: absolute; top:0">
                        <textarea type="text" style="height:25px;color:#bbb" id="description"
                            name="campground[description]">如題</textarea>
                    </div>
                </form>
            </div>

            <div class="partner-post mt-5 pt-3 hide-mobile">
                <span class='category-list-title mb-4'>
                    <a href="/users/user/<%= currentUser?._id ??'622874ccc8ed254d82edf591' %>  "> <img
                            src="/files/profileLogo.png" style="width:50px; height:50px ; margin: 0 8px 0  0;" /> </a>
                    <%= currentUser?.username ?? "DSEJJ" %> <span id="typing">Online</span>
                </span>
                <div id="friend-activity">
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <script src="/javascripts/renderPosts.js"></script>
    <script src="/javascripts/yylam.js"></script>