<% layout('layouts/boilerplate')%>
    <div class="mb-5">
        <h1>所有話題</h1>
    </div>
    

    <% for (let campground of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <a href="/campgrounds/<%=campground._id%>">
                <div class="col-md-8">
                    
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>  <small class="text-muted"> - <%= campground.author.username%></small>
                        </h5>
                        <p class="card-text text-muted">
                            <%= campground.description.substring(0,50) %>
                        </p>
                    </div>
                </div></a>
            </div>
        </div>
        <% }%>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};

        </script>
<script src="/javascripts/clusterMap.js"></script>