<% layout('layouts/boilerplate')%>

    <style>
        .index-loop {
            width: 700px;
        }



        #post-page {
            width: 100%
        }

        .card2 {
            width: 500px;
        }

        .review-title {
            font-weight: 500;
        }

        .card-body {
            border-bottom: solid #eee 1px;
            border-radius: 5px;
            width: 500px;
        }


        .replybtn {
            background-color: transparent;
            border-radius: 5px;
            color: #888;
            padding: 0 5px;
            margin: 10px 0px;
            opacity: 0.7;
            font-size: 13px;
        }

        .replybtn:hover {
            color: #cc0000;
            opacity: 1;
        }

        .show-container {
            display: flex;
            flex-wrap: wrap;
        }

        .right-bar {
            width: 50px;
        }

        .profile-logo {
            width: 80px;
            height: 80px;
            margin: 10px 10px 0 0;
            opacity: 0.9;
        }

        .profile-logo:hover {
            opacity: 1;
        }


        .comment {
            display: flex;
        }

        .comment-body {
            width: 550px;
            margin-top: 10px;
        }

        .user-action-bar {
            width: 120px;
            display: flex;
            justify-content: space-between;
        }

        .user-action:hover {
            opacity: 0.7;
        }




        @media only screen and (max-width: 650px) {
            .index-loop {
                width: 100%;
                padding: 0 10px;
            }

            .comment-body {
                width: 100%;
            }

            .comment-body {
                width: 100%;
            }

        }
    </style>

    <script>
        document.querySelector('title').innerText = '<%= campground.title %>';
    </script>


    <div class="index-loop mb-5 pb-5">
        <div>
            <a href="/" class="btn dse00btn">Back</a>


            <div class="mb-3">

                <div class="pt-4 pb-3">
                    <h5 class="card-title m-3">
                        <%= campground.title%>
                    </h5>
                    <p class="card-text m-3 mb-5 mt-5">
                        <%= campground.description%>
                    </p>
                </div>
                <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                <img src="<%= img.url%>" class="d-block w-100" alt="">
                            </div>
                            ƒ
                            <% }) %>
                    </div>
                    <% if(campground.images.length> 1) {%>
                        <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">上</span>
                        </a>
                        <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">下</span>
                        </a>
                        <% } %>
                </div>
                <div class="mt-1 mb-1">
                    <span class="muted">
                        <%= campground.createdAt.toLocaleString().substring(0,9) %>
                    </span>

                    <% if (currentUser && currentUser.favour.includes(campground._id)) { %>
                        <form action="/<%= campground._id%>/favour?_method=DELETE" method="POST"
                            style="display:inline;">
                            <button class="btn category2 ml-2" style="border:none">
                                ♥ Like (<%= campground.favour %>)</button>
                        </form>
                        <% } else{%>
                            <form action="/<%= campground._id%>/favour?_method=PUT" method="POST"
                                style="display:inline">
                                <button class="btn category2 ml-2">♡ Like (<%= campground.favour %>)</button>
                            </form>
                            <% } %>

                                <a class="category2 ml-2" href="/search?category=<%= campground.category %>">
                                    <%= campground.category %>
                                </a>

                </div>
                <ul class="list-group list-group-flush">

                    <li id="userbar">樓主 ：
                        <a href="/users/user/<%= campground.author._id %> ">
                            <img class='profile-logo' src="/files/profileLogo.png"
                                style="width:30px; height:30px; margin:0 10px 0 0; opacity: 1;">
                        </a>
                        <a href="/users/user/<%= campground.author._id %> ">
                            <b>
                                <%= campground.author.username.toUpperCase()%>
                            </b>
                            <% if (campground.author.level==4) { %>
                                <span class="silver"> - Lv
                                    <%=campground.author.grade %>
                                </span>
                                <% }else{ %>
                                    <span <%=campground.author.level>4 ? 'class=gold' : 'class=grade' %>> - Lv
                                        <%=campground.author.grade %>
                                    </span>
                                    <% } %>
                        </a>
                    </li>

                </ul>
                <% if(currentUser) {%>
                    <% if (campground.author.equals(currentUser._id) || currentUser.identity=='admin' ) { %>
                        <div class="mt-3 mb-2">
                            <a class="btn dse00btn" href="/<%=campground._id%>/edit">修改</a>
                            <form class="d-inline" action="/<%=campground._id%>?_method=DELETE" method="POST">
                                <button class="btn dse00btn">刪除</button>
                            </form>
                        </div>
                        <% } %>
                            <% } %>
                                <!-- <div class="card-footer text-muted">
                            2 days ago
                        </div> -->
            </div>
            <div>
                <% if (replyReview) { %>

                    <form action="/reply/<%= replyReview._id %>?post=<%=campground._id%>" method="POST"
                        class="mb-3 validated-form" novalidate>
                        <div class="mb-5 mt-5">

                            <div class="quote"> ➼ Re :
                                <%= replyReview.author.username %> -
                                    <%= replyReview.body %>
                            </div>

                            <textarea class="form-control muted" name="review[reply]" id="body" cols="20" rows="2"
                                required style="width:80%" autofocus> </textarea>

                            <button class="btn dse00btn2 mt-0 mb-5">回覆</button>
                            <% } else{%>
                                <div>
                                    <form action="/<%=campground._id%>/reviews" method="POST"
                                        class="mb-3 validated-form" novalidate>
                                        <div class="mb-5 mt-5">
                                            <label class="form-label  mb-4" for="body">留言文字</label>
                                            <textarea class="form-control" name="review[body]" id="body" cols="30"
                                                rows="3" required></textarea>

                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>

                                            <button class="btn dse00btn">提交</button>
                                            <% } %>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <% if (campground.reviews.length==0) { %>
                                        <h4 style="margin-top:60px">未有留言</h4>
                                        <% } else{%>
                                            <h4 style="margin-top:60px">留言</h4>
                                            <% let i=1 %>
                                                <% for(let review of campground.reviews) { %>
                                                    <% i++ %>
                                                        <% if (i%5===0) { %>
                                                            <div class=" pb-2 adsense comment">
                                                                <img src="/files/dse00-icon.png" alt=""
                                                                    class="profile-logo">
                                                                <div class="card-body">
                                                                    <script async
                                                                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6622218753379872"
                                                                        crossorigin="anonymous"></script>
                                                                    <ins class="adsbygoogle" style="display:block"
                                                                        data-ad-format="fluid"
                                                                        data-ad-layout-key="-gw-3+1f-3d+2z"
                                                                        data-ad-client="ca-pub-6622218753379872"
                                                                        data-ad-slot="8821319250"></ins>
                                                                    <script>
                                                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <% } %>

                                                                <div>
                                                                    <div id="delete">
                                                                        <% if(currentUser) {%>
                                                                            <% if (review.author.equals(currentUser._id)
                                                                                || currentUser.identity=='admin' ) { %>
                                                                                <div style="float: right">
                                                                                    <form
                                                                                        action="/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                                                        method="POST">
                                                                                        <button
                                                                                            onclick="return confirm('Delete?')"
                                                                                            class="btn dse00btn"
                                                                                            style="border:none">X</button>
                                                                                    </form>
                                                                                </div>
                                                                                <% } %>
                                                                                    <% } %>
                                                                    </div>
                                                                    <div class="mb-3 comment">
                                                                        <a href="/users/user/<%= review.author._id %> ">
                                                                            <img class='profile-logo'
                                                                                src="/files/profileLogo.png" alt="">
                                                                        </a>
                                                                        <div class="card-body">
                                                                            <div class="mb-1">

                                                                                <a class="review-title"
                                                                                    href="/users/user/<%= review.author._id %> ">
                                                                                    <%=
                                                                                        review.author.username.toUpperCase()%>
                                                                                        <% if (review.author.level==4) {
                                                                                            %>
                                                                                            <span class="silver"> - Lv
                                                                                                <%=review.author.grade
                                                                                                    %>
                                                                                            </span>
                                                                                            <% }else{ %>
                                                                                                <span
                                                                                                    <%=review.author.level>4
                                                                                                    ?
                                                                                                    'class=gold'
                                                                                                    : 'class=grade' %>
                                                                                                    >- Lv <%=
                                                                                                        review.author.grade
                                                                                                        %>
                                                                                                </span>
                                                                                                <%}%>

                                                                                                    <span class="muted">
                                                                                                        <%= review.createdAt.toLocaleString().substring(0,9)
                                                                                                            %>
                                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="comment-body">

                                                                                <%= review.body %>

                                                                            </div>

                                                                            <div class="user-action-bar mt-3">
                                                                                <div class="thumbs-up">
                                                                                    <i
                                                                                        class="fa-regular fa-thumbs-up user-action quote"></i>
                                                                                </div>
                                                                                <div class="thumbs-down">
                                                                                    <i
                                                                                        class="fa-regular fa-thumbs-down user-action quote"></i>
                                                                                </div>
                                                                                <a href="/reply/<%= review._id %>?post=<%= campground._id %>"
                                                                                    class="btn replybtn m-0 user-action">REPLY</a>

                                                                            </div>

                                                                            <% if (review.reply[0]) { %>
                                                                                <div class="mt-3 mb-2">
                                                                                    <% for( let i=0; i <
                                                                                        review.reply.length; i++ ) { %>
                                                                                        <p class="quote m-0 mt-1">
                                                                                            <i
                                                                                                class="fa-solid fa-reply mr-1"></i>
                                                                                            <%= review.replyAuthor[i].toUpperCase()
                                                                                                %>
                                                                                                ：
                                                                                                <%= review.reply[i] %>
                                                                                        </p>
                                                                                        <% } %>
                                                                                </div>
                                                                                <% } %>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% } %>
                                                                    <% } %>
                                </div>
                        </div>
            </div>
        </div>





        <script>
            const campground = <% - JSON.stringify(campground) %>;
        </script>
        <script>
            const thumbsUps = document.querySelectorAll('.thumbs-up');
            const thumbsDowns = document.querySelectorAll('.thumbs-down');

            thumbsUps.forEach(thumbsUp => thumbsUp.addEventListener('click', () => {
                thumbsUp.innerHTML = '<i class="fa-solid fa-thumbs-up"></i>';
            }))

            thumbsDowns.forEach(thumbsDown => thumbsDown.addEventListener('click', () => {
                thumbsDown.innerHTML = '<i class="fa-solid fa-thumbs-down"></i>';
            }))



        </script>