<% layout('layouts/boilerplate')%>
    <script>
        document.querySelector('title').innerText = 'Resources';
    </script>
    <link rel="stylesheet" href="/stylesheets/pastpaper.css">


    <div class='index-loop'>
        <button onclick="history.back()" id="backButton" class="btn btn-danger mb-3">Back</button>
        <div class="card" style="padding:20px 30px 50px 30px;">
            <h3>
                Pastpaper
            </h3>

            <div class="warning">本網站純粹分享連結，連結內之內容非本網站上載及持有(HOST)</div>
            <div class="container">

                <% for( let i=0; i < pastpapers.length; i++ ) { %>
                    <% if (i%4===0) { %>
                        <div class="adsense">
                            <script async
                                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6622218753379872"
                                crossorigin="anonymous"></script>
                            <ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
                                data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-6622218753379872"
                                data-ad-slot="6544787504"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <% } %>
                            <% if (pastpapers[i].title=='上載區' ) { %>
                                <a href="/resources/<%= pastpapers[i].title %>">
                                    <div class="onebox">
                                        <%= pastpapers[i].title %>
                                    </div>
                                </a>
                                <a href="/resources/ZH">
                                    <div class="onebox">
                                        中文版
                                    </div>
                                </a>
                                <% continue } %>
                                    <% if (pastpapers[i].title=='DSE00 Mocks' ) { %>
                                        <% if (currentUser && currentUser.level>4) { %>
                                            <a href="/resources/<%= pastpapers[i].title %>">
                                                <div class="box">
                                                    DSE00 Mock
                                                </div>
                                            </a>
                                            <% continue} %>
                                                <a onclick="alert('Lv4 OPEN')" class="box" href="">
                                                    <div>

                                                        DSE00 Mock
                                                        <br><img class='locked'
                                                            src="https://www.freeiconspng.com/thumbs/lock-icon/lock-icon-11.png"
                                                            alt="">

                                                    </div>
                                                </a>
                                                <% continue } %>
                                                    <% if (pastpapers[i].title=='中國語文' ) { %>
                                                        <a href="/resources/">
                                                            <div class="onebox">
                                                                English Version
                                                            </div>
                                                        </a>
                                                        <a href="/resources/<%= pastpapers[i].title %>">
                                                            <div class="box">
                                                                <%= pastpapers[i].title %>
                                                            </div>
                                                        </a>
                                                        <% continue } %>
                                                            <a href="/resources/<%= pastpapers[i].title %>">
                                                                <div class="box">
                                                                    <%= pastpapers[i].title %>
                                                                </div>
                                                            </a>

                                                            <% } %>
            </div>
        </div>
    </div>