<% layout('layouts/boilerplate')%>

    <script>
        document.querySelector('title').innerText = '<%= pastpaper.title %>';
    </script>
    <link rel="stylesheet" href="/stylesheets/pastpaper.css">
    <div class='index-loop'>
        <button onclick="history.back()" id="backButton" class="btn btn-danger mb-3">Back</button>
        <div class="card" style="padding:20px 30px 50px 30px;">
            <h3>
                <%= pastpaper.title %>
            </h3>

            <div class="container">
                <% if (pastpaper.years[0]=='Upload' ){ %>
                    <p>網上資源混亂，DSE00 盡力為同學整合所有資源，但仍有很多缺漏，例如部分年份的Marking Scheme，Paper 1/2。如同學們曾經有一刻被DSE00感動
                        ，希望我們能把你的愛分享給後軰的 DSE 學生，他們日後亦一定十分感激。</p>
                    <a href="<%= pastpaper.url[0] %>" target="_blank">
                        <div class="onebox">
                            <%= pastpaper.years[0] %>
                        </div>
                    </a>
                    <% } else{ %>

                        <% for( let i=0 ; i<pastpaper.years.length ; i++ ) { %>
                            <% if (i%4===0) { %>
                                <div class="adsense">
                                    <script async
                                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6622218753379872"
                                        crossorigin="anonymous"></script>
                                    <ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
                                        data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-6622218753379872"
                                        data-ad-slot="6544787504"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                                <% } %>
                                    <% if (pastpaper.years[i]=='One Click' ) { %>
                                        <% if (!currentUser) { %>
                                            <a onclick="alert('One Click 需要先登入')" class="onebox" target="_blank">
                                                <div>
                                                    <%= pastpaper.years[i] %>
                                                </div>
                                            </a>
                                            <% continue} %>
                                                <a href="<%= pastpaper.url[i] %>" target="_blank">
                                                    <div class="onebox">
                                                        <%= pastpaper.years[i] %>
                                                    </div>
                                                </a>
                                                <% continue} %>
                                                    <a href="<%= pastpaper.url[i] %>" target="_blank">
                                                        <div class="box">
                                                            <%= pastpaper.years[i] %>
                                                        </div>
                                                    </a>
                                                    <% } %>
                                                        <% } %>



            </div>
        </div>
    </div>