<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/pastpaper.css">
    <div class='index-loop'>
        <button onclick="history.back()" id="backButton" class="btn btn-danger mb-3">Back</button>
        <div class="card" style="padding:20px 30px 50px 30px;">
            <h3>
                <%= pastpaper.title %>
            </h3>

            <div class="container">
                <% for( let i=0 ; i<pastpaper.years.length ; i++ ) { %>
                    <% if (pastpaper.years[i] == 'One Click') { %>
                        <% if (!currentUser) { %>
                            <a onclick="alert('One Click 需要先登入')" class="onebox" target="_blank">
                                <div>
                                    <%= pastpaper.years[i] %>
                                </div>
                            </a>
                            <% }else{ %>
                                <a href="<%= pastpaper.url %>" target="_blank">
                                    <div class="onebox">
                                        <%= pastpaper.years[i] %>
                                    </div>
                                </a>
                                <% } %>


                                    <% }else{ %>
                                        <a href="<%= pastpaper.url %>" target="_blank">
                                            <div class="box">
                                                <%= pastpaper.years[i] %>
                                            </div>
                                        </a>
                                        <% } %>
                                            <% } %>


            </div>
        </div>
    </div>