<% layout('layouts/boilerplate')%>

    <style>
        td {
            width: auto;
            padding: 3px 10px;
            border-bottom: 1px solid;
            border-color: #ddd;
        }
    </style>
    <table>
        <tr>
            <td>identity</td>
            <td>user</td>
            <td>posts</td>
            <td>reviews</td>
            <td>grade</td>
            <td>coins</td>
            <td>posts</td>
            <td>reviews</td>
            <td>createdAt</td>
        </tr>
        <% for(let user of users) { %>
            <tr>
                <td>
                    <%= user.identity.substring(0,1).toUpperCase() %>
                </td>
                <td>
                    <a href="/user/<%= user._id %>">
                        <%= user.username %>
                    </a>
                </td>
                <td>
                    <%= user.posts.length %>
                </td>
                <td>
                    <%= user.reviews.length %>
                </td>
                <td>
                    Lv
                    <%= user.grade %>
                </td>
                <td> 🪙
                    <%= user.coin %>
                </td>
                <td>
                    <% for( let post of user.posts ) { %>
                        <p>
                            -
                            <a href="/campgrounds/<%= post._id %> ">
                                <%= post.title %>
                            </a>
                        </p>
                        <% } %>
                </td>
                <td>

                    <% for( let review of user.reviews ) { %>
                        <p>
                            -
                            <%= review.body %>
                        </p>
                        <% } %>
                </td>
                <td>
                    <%= user.createdAt %>
                </td>
            </tr>



            </li>
            <% } %>
    </table>