<% layout('layouts/boilerplate')%>

    <style>
        h3 {
            margin-bottom: 20px;
        }

        li {
            margin-top: 10px;
            font-size: 18px;
        }

        .user-info {
            margin: 20px 0 50px 0;
        }

        input {
            width: 100px
        }

        option {
            width: 100px;
        }

        .friend-list {
            width: 200px;
        }

        .upper-part {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .inner-container {
<<<<<<< HEAD
=======
            display: flex;
>>>>>>> 9f7fb0e515c7ec421625d4342f720303cf0beb1a
            flex-direction: row;
        }

        .left-bar {
            width: 300px;
        }
<<<<<<< HEAD

=======
    
>>>>>>> 9f7fb0e515c7ec421625d4342f720303cf0beb1a

        @media only screen and (max-width: 900px) {
            .friend-list {
                width: 100%;
                padding-left: 10px;

            }

            .wrap-mobile {
                display: flex;
                flex-wrap: wrap;

            }

            .collection {
                width: 100%;
            }

            .left-bar {
                width: 100%;
            }
<<<<<<< HEAD
=======

        .inner-container {
            display: block;
    
        }
>>>>>>> 9f7fb0e515c7ec421625d4342f720303cf0beb1a
        }
    </style>


    <div class="upper-part mb-5">
        <button onclick="history.back()" id="backButton" class="btn dse00btn mb-3">Back</button>
        <img class='profile-logo mt-5 mb-4' src="/files/profileLogo.png"
            style="width:150px; height:150px; margin:0 10px 0 0; opacity: 1;">
        <h1 class="mt-3 mb-5">
            <%= user.username.toUpperCase() %>
        </h1>

        <div class="target mb-3 friend-activity">
            <div style="margin:0 50px">
                💪🏻
                <%= user.intro %>

                    <% if (currentUser && currentUser.username==user.username) { %>
                        <a href="/users/intro" style="color:#ff8d8d"><i class="fa-solid fa-gear ml-2"></i></a>
                        <% } %>
            </div>
        </div>

        <div class="m-3">
            <% if (!currentUser || !currentUser._id.equals(user.id)) { %>
                <% if (currentUser && currentUser.friendList.includes(user._id)) { %>
                    <form action="/users/user/<%= user._id%>/friend?_method=DELETE" method="POST"
                        style="display:inline;">
                        <button class="p-2" style="border:none; border-radius: 5px; background-color: #eee;">
                            <i class="fa-solid fa-user ml-2"></i> Remove</button>
                    </form>
                    <% }else{ %>
                        <form action="/users/user/<%= user._id%>/friend?_method=PUT" method="POST"
                            style="display:inline;">
                            <button class="p-2" style="border:none; border-radius: 5px; background-color: #eee;">
                                <i class="fa-solid fa-user ml-2"></i> Add Friend</button>
                        </form>
                        <% } %>
                            <% } %>
        </div>

        <div class="mt-3 ">
            <span style="font-size: 20px;" class="gold"> Grade : Lv. <%= user.grade %>
                    <i class="fa-solid fa-coins ml-5 pl-2"></i>
                    <%= user.coin %>
            </span>
        </div>


    </div>


    <div class="lower-part mt-5 pt-5 index-container">
        <div class="inner-container">

            <div style="width:100px"></div>
            <div class="left-bar">
                <div class="friend-list mr-2 mb-5">
                    <h5 style="color:#222">Friends</h5>
                    <div class="wrap-mobile">
                        <% for (let friend of user.friendList){ %>
                            <div class="mt-3 mr-4 friend-activity"><a href="/users/user/<%= friend._id %> ">
                                    <img src="/files/profileLogo.png" style="width:26px;height:26px;" class="mr-1">
                                    <%= friend.username.toUpperCase() %>
                                </a></div>
                            <% } %>
                    </div>

                </div>
            </div>

            <div class='index-loop ml-3'>


                <div class="mb-5 pb-5">

                    <h5 class="mb-4" style="color:#222">Likes ♥ </h5>

                    <% for( let favour of user.favour) { %>

                        <div class="pb-3 mt-1" style="font-size: 16px; font-weight: 300; color:#bbb">
                            <i class="fa-solid fa-heart mr-3"></i> <a href="/<%= favour._id %> " target="_blank">
                                <span>
                                    <%= favour.title %>
                                </span>
                            </a>
                        </div>
                        <% } %>

                </div>


                <div>
                    <h5 style="color:#222">Posts</h5>
                    <% for(let post of user.posts){ %>

                        <a href="/<%=post._id %> ">
                            <div class="card card-body pb-3 mt-1">
                                <h6 class="post-title">
                                    <%= post.title %> <span class="category">
                                            <%= post.category %>
                                        </span>
                                </h6>
                                <span style="position: absolute; top:5px ; right:10px; font-size:12px;color:#bbb">
                                    <% const r=post.reviews.length-1 %>
                                        <%= r+1 %><span style="font-size:11px"> 💬</span>
                                </span>
                                <div class="muted">
                                    <%= post.description.substring(0,40) %>
                                </div>
                            </div>

                        </a>


                        <% } %>

                            <br>

                </div>

                <div id="reviews" class="mt-5">
                    <% if (currentUser) { %>
                        <% if (currentUser.username==user.username || currentUser.identity=='admin' ) { %>
                            <h5>Reviews</h5>
                            <div class="muted">only you can view it</div>
                            <% for(let review of user.reviews){ %>
                                <div class="card-body mt-1 ">
                                    <a href="/<%= review.post %> ">
                                        <div class="post-title">
                                            <i class="fa-solid fa-reply mr-3"></i>
                                            <%= review.body.substring(0,40) %>
                                        </div>
                                    </a>
                                </div>

                                <% } %>
                                    <% } %>
                                        <% } %>

                </div>
            </div>



        </div>
    </div>
<<<<<<< HEAD
=======

>>>>>>> 9f7fb0e515c7ec421625d4342f720303cf0beb1a
    <div class="admin-form mt-5 pt-5">
        <% if (currentUser && currentUser.identity=='admin' ) { %>
            <form action="/admins/<%= user._id %>?_method=PUT" method="POST" class="mt-3">
                <select class="form-select" name="identity" style="font-size:12px;">
                    <option value="admin" <%=user.identity==='admin' ? 'selected' : '' %>>Admin</option>
                    <option value="leader" <%=user.identity==='leader' ? 'selected' : '' %>>Leader</option>
                    <option value="member" <%=user.identity==='member' ? 'selected' : '' %> >Member</option>
                </select> <i class="fa-solid fa-coins mr-3"></i> <input type="number" name="coin">
                <button onclick="return confirm('Comfirm?')" class="btn dse00btn2 ml-3"
                    style="font-size:10px;">Confirm</button>
            </form>
            <% } %>
    </div>