<% layout('layouts/boilerplate')%>

    <style>
        h3 {
            margin-bottom: 20px;
        }

        li {
            margin-top: 10px;
            font-size: 18px;
        }

        .user-info {
            margin: 20px 0 50px 0;
        }

        input {
            width: 100px
        }

        option {
            width: 100px;
        }

        .friend-list {
            width: 200px;
        }

        .upper-part {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .inner-container {
            flex-direction: row;
        }

        @media only screen and (max-width: 900px) {
            .friend-list {
                width: 100%;
                padding-left: 10px;

            }

            .wrap-mobile {
                display: flex;
                flex-wrap: wrap;

            }
            .collection{
                width:100%;
            }
        }
    </style>


    <div class="upper-part mb-5">
        <button onclick="history.back()" id="backButton" class="btn dse00btn mb-3">Back</button>
        <h1 class="mt-3 mb-5">
            <%= user.username.toUpperCase() %>
        </h1>

        <div class="admin-form">
            <% if (currentUser && currentUser.identity=='admin' ) { %>
                <form action="/admins/<%= user._id %>?_method=PUT" method="POST" class="mt-3">
                    <select class="form-select" name="identity" style="font-size:12px;">
                        <option value="admin" <%=user.identity==='admin' ? 'selected' : '' %>>Admin</option>
                        <option value="leader" <%=user.identity==='leader' ? 'selected' : '' %>>Leader</option>
                        <option value="member" <%=user.identity==='member' ? 'selected' : '' %> >Member</option>
                    </select> 🪙 : <input type="number" name="coin">
                    <button onclick="return confirm('Comfirm?')" class="btn dse00btn2 ml-3"
                        style="font-size:10px;">Confirm</button>
                </form>
                <% } %>
        </div>

        <div class="target mb-3">
            💪🏻
            <%= user.intro %>

                <% if (currentUser && currentUser.username==user.username) { %>
                    <a href="/users/intro" class="btn dse00btn fr">Edit</a>
                    <% } %>
        </div>

        <div class="m-3">
            <% if (!currentUser || !currentUser._id.equals(user.id)) { %>
                <% if (currentUser && currentUser.friendList.includes(user._id)) { %>
                    <form action="/users/user/<%= user._id%>/friend?_method=DELETE" method="POST"
                        style="display:inline;">
                        <button class="p-2" style="border:none; border-radius: 5px; background-color: #eee;">
                            👥 Remove Friend</button>
                    </form>
                    <% }else{ %>
                        <form action="/users/user/<%= user._id%>/friend?_method=PUT" method="POST"
                            style="display:inline;">
                            <button class="p-2" style="border:none; border-radius: 5px; background-color: #eee;">
                                👥 Add Friend</button>
                        </form>
                        <% } %>
                            <% } %>
        </div>

        <div class="mt-3">
            <span style="font-size: 20px;" class="gold"> Grade : Lv.</span>
            <span id="usergrade" class="gold">
                <%= user.grade %>
            </span>

            <span class="ml-5" style="font-size:30px"> <a href="/users/dse00coin"> 🪙 : </a>
                <span id="coin">
                    <%= user.coin %>
                </span>
            </span>
        </div>


    </div>


    <div class="lower-part mt-4 index-container">
        <div class="inner-container">

            <div style="width:100px"></div>
            <div class="friend-list mr-2 mb-5">
                <h5 style="text-shadow:1px 1px 1px rgb(179, 179, 179);">Friends</h5>
                <div class="wrap-mobile">
                    <% for (let friend of user.friendList){ %>
                        <div class="mt-3 mr-4"><a href="/users/user/<%= friend._id %> ">👤 <%=
                                    friend.username.toUpperCase() %>
                            </a></div>
                        <% } %>
                </div>

            </div>

            <div class='index-loop'>
                

                <div class="mb-5">
                
                    <h5 class="mb-4" style="text-shadow:1px 1px 1px rgb(179, 179, 179);">收藏</h5>
                
                    <% for( let favour of user.favour) { %>
                        
                        <div class="pb-3 mt-1" style="font-size: 16px; font-weight: 300; color:#bbb">                   
                            ➡   <a href="/<%= favour._id %> " target="_blank">
                                    <span ><%= favour.title %></span>
                                </a>
                        </div>
                        <% } %>
                
            </div>

            
                <div>
                    <h5 style="text-shadow:1px 1px 1px rgb(179, 179, 179);">Posts</h5>
                    <% for(let post of user.posts){ %>

                        <a href="/<%=post._id %> ">
                            <div class="card card-body pb-3 mt-1">
                                <h6 class="post-title">
                                    <%= post.title %> <span class="category">
                                            <%= post.category %>
                                        </span>
                                </h6>
                                <span style="position: absolute; top:5px ; right:10px; font-size:12px;color:#bbb">
                                    <% const r=post.reviews.length-1 %>
                                        <%= r+1 %><span style="font-size:11px"> 💬</span>
                                </span>
                                <div class="muted">
                                    <%= post.description.substring(0,40) %>
                                </div>
                            </div>

                        </a>


                        <% } %>

                            <br>

                </div>

                <div id="reviews">
                    <% if (currentUser) { %>
                        <% if (currentUser.username==user.username || currentUser.identity=='admin' ) { %>
                            <h4>Reviews</h4>
                            <div class="muted">only you can view it</div>
                            <% for(let review of user.reviews){ %>
                                <div class="card-body mt-1 ">
                                    <a href="/<%= review.post %> ">
                                        <div class="post-title">
                                            - <%= review.body.substring(0,40) %>
                                        </div>
                                    </a>
                                </div>

                                <% } %>
                                    <% } %>
                                        <% } %>

                </div>
            </div>



        </div>
    </div>